
body {
	padding-top: 55px;
}

.body-container {
  display: flex;
  flex-direction: row;
}

.body-container .left-gutter {
  flex: 0 0 240px;
  border-right: 1px solid #dddddd;
  padding: 0px;
  background-color: white;
}

.body-container .right-gutter {
  padding: 0px;
}

h1 {
	font-size: 24px;
}


h2 {
	font-size: 15px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 13px;
}

