.feeds-container {
  padding: 20px;
}

.feeds-container .feed-container p {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.feeds-container .entry-container {
  min-width: 400px;
  max-width: 700px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #aaaacc;
  border-radius: 5px;
  background-color: white;
  flex-direction: column;
}

.entry-container:hover h2 {
  text-decoration: underline;
}

.entry-container .entry-info {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.entry-container .feed-name {
  padding: 0px;
}

.entry-container .entry-date {
  padding-left: 20px;
  padding-top: 1px;
}

.entry-container a {
  text-decoration: none;
}

.entry-container p {
  font-size: 14px;
}

.entry-container img {
  display: block;
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.entry-container h2 {
  color: #111133;
  font-weight: 600;
}

.entry-container h3 {
  color: #242a30;
  padding: 0px;
  margin: 0px;
}

.entry-container h4 {
  color: #242a30;
}

.entry-container .entry-description {
  padding: 14px 12px 12px 12px;
}

.entry-container .entry-description,
.entry-container .entry-description a {
  color: #444;
  font-size: 13px;
  text-decoration: none;
}
