{% block feed %}
<div class="feed-container">
  {% if entries %}
    {% for entry in entries %}
      <div class="entry-container">
        <div class="entry-info">
          <a href="{{ entry.feed.link }}">
            <div class="feed-name">
              <h2>{{ entry.feed.name }}</h2>
            </div>
          </a>
          <div class="entry-date">
            <h4>{{ get_time_str(entry.date) }}</h4>
          </div>
        </div>
        <a href="{{ entry.link }}">
          <div class="entry-contents">
              <h3>{{ entry.name }}</h3>
              {% if entry.description %}
                <div class="entry-description">
                    {{ entry.description | striptags }}
                </div>
              {% endif %}
          </div>
        </a>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
