{% block feed %}
<div class="feed-container">
  {% if entries %}
    {% for entry in entries %}
      <div class="entry-container">
        <a href="{{ entry.link }}">
        <div class="entry-info">
          <div class="feed-name">
            <h2>{{ entry.feed.name }}</h2>
          </div>
          <div class="entry-date">
            <h4>{{ get_time_str(entry.date) }}</h4>
          </div>
        </div>
        <div class="entry-row">
          <h3>{{ entry.name }}</h3>
        </div>
        {% if entry.description %}
          <div class="entry-description">
              {{ entry.description | striptags }}
          </div>
        {% endif %}
        </a>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
