{% block feed %}
<div class="feeds-container">
  <div class="feed-container">
    {% if entries %}
      {% for entry in entries %}
        <div class="entry-container">
          <div class="entry-info">
            <a href="{{ entry.feed.site_link }}">
              <div class="feed-name">
                <h2>{{ entry.feed.name }}</h2>
              </div>
            </a>
            <div class="entry-date">
              <h4>{{ get_time_str(entry.date) }}</h4>
            </div>
          </div>
          <a href="{{ entry.link }}">
            <div class="entry-contents">
                <h3>{{ entry.name }}</h3>
                {% if entry.description | striptags %}
                  <div class="entry-description">
                      {{ entry.description | striptags }}
                  </div>
                {% else %}
                  <div style="padding: 0 0 10px 0"></div>
                {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
      <div class="feed-pagination">
        <div class="prev-page">
          {% if prev_skip and prev_skip >= 0 %}
            <a href="{{ url_for('proton.index', skip=prev_skip) }}">Prev</a>
          {% endif %}
        </div>
        <div class="next-page">
          {% if next_skip and next_skip > 0 %}
              <a href="{{ url_for('proton.index', skip=next_skip) }}">Next</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
